extends unknown-layout

block content
  h1= params.title
  p Welcome to the Smart Vision Cloud Computing "Global Location" service in UNDISCLOSED LOCATION.

  p Google Cloud Region: #[.span #{params.location} ]
