doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/unknown-style.css')
  body
    .header
        h1.page-title LOCATION UNKNOWN

    ul.nav
      li: a(href='/') HOME
      li: a(href='/status') STATUS

    .main-content
        block content

    .footer
        p Copyright © 2020 Ricoh Innovations, Corporation
